<div class="row">
  <div class="col-xs-12">
    <form class="form-group" ng-submit="resetLoadImages()">
      <div class="input-group">
        <div class="input-group-addon">/r/</div>
        <input type="text" class="form-control" id="query" ng-model="query">
      </div>
      <div class="input-group">
        <button type="submit" class="btn btn-success" style="display:none;"></button>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row imageRow">
  <div id="images">
    <div ng-repeat="post in posts">
      <img ng-src="{{post.url}}" class="image" ng-click="details(this)" title="{{post.title}}" link="{{post.link}}">
    </div>
  </div>
</div>
<div ng-show="imagesLoaded">
  <br>
  <button class="btn btn-primary btn-lg btn-block" ng-click="loadImages()">More images</button>
</div>
 <div id="imageModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        <img src="{{modalUrl}}" height="100%" width="100%">
      </div>
      <div class="modal-footer">
        <a href="{{modalLink}}" target="_blank"><button type="button" class="btn btn-default">Link to Reddit</button></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
